@model BlogMVC.BlogDAL.Entities.Blog
@{
    ViewBag.Title = "AddBlogNewUser";
}

<h2>AddBlogNewUser</h2>

@using (Html.BeginForm())
{
    @ViewBag.Error
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Введите статью</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tag)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tag)
            @Html.ValidationMessageFor(model => model.Tag)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Document)
        </div>
        <div class="editor-field">
            <textarea @Html.EditorFor(model => model.Document)></textarea>            
            @Html.ValidationMessageFor(model => model.Document)
        </div>
        <p>
            <input type="submit" value="Добавить" />
        </p>
    </fieldset>
}