@model List<BlogMVC.BlogDAL.Entities.Blog>

@{
    ViewBag.Title = "Blog";
}

<h2>Blog @Url.RequestContext.RouteData.Values["id"].ToString().Replace(" ", "")</h2>

@if (User.Identity.Name.Replace(" ", "") == @Url.RequestContext.RouteData.Values["id"].ToString().Replace(" ", ""))
{
     <h3> @Html.ActionLink("Добавить статью", "AddBlogNewUser", "Home")</h3> <br />
}

@foreach (var elem in Model)
{
     <p>
         Тег: @elem.Tag <br>
         Автор: @elem.Login <br>
         @elem.Document <br>
         @Html.ActionLink("Показать комментарии", "Comment", "Home", new { id = elem.BlogID.ToString().Replace(" ", "") }, null)<br>
         @if ((User.IsInRole("Admins")) || (User.Identity.Name.Replace(" ","") == elem.Login.Replace(" ", "")))
         {
             @Html.ActionLink("Удалить статью", "DeleteDocument", "Home", new { id = elem.BlogID }, null)<br>
         }
     </p>
     <br><br><br>
}

