@model List<BlogMVC.BlogDAL.Entities.Blog>

@{
    ViewBag.Title = "Blog";
}

<h2>Blog</h2>

<p>Блог пользователя @Model[0].Login</p>
@Html.ActionLink("Показатии", "AddBlogNewUser", "Home")
@if (User.Identity.Name.Replace(" ", "") == Model[0].Login.Replace(" ", ""))
{
    using (Html.BeginForm("AddBlogNewUser", "Home"))
    {
        <input type="submit" value="Добавить статью" />
    }
}

@foreach (var elem in Model)
{
    <p>
        Тег: @elem.Tag <br>
        Автор: @elem.Login <br>
        @elem.Document <br>
        @Html.ActionLink("Показать коментарии", "Comment", "Home", new { id = Model[0].Login.Replace(" ", ""), Blogname = elem.BlogID }, null)
    </p>
    <br><br><br>
}