@model List<BlogMVC.BlogDAL.Entities.Blog>

@{
    ViewBag.Title = "Blog";
}

@try
{
    <h2>Blog @Model[0].Login</h2>
    <p>Блог пользователя @Model[0].Login</p>
    if (User.Identity.Name.Replace(" ", "") == Model[0].Login.Replace(" ", ""))
    {
        <h3> @Html.ActionLink("Добавить статью", "AddBlogNewUser", "Home")</h3> <br />
        using (Html.BeginForm("AddBlogNewUser", "Home"))
        {
            <input type="submit" value="Добавить статью" />
        }
    }

    foreach (var elem in Model)
    {
        <p>
            Тег: @elem.Tag <br>
            Автор: @elem.Login <br>
            @elem.Document <br>
            @Html.ActionLink("Показать комментарии", "Comment", "Home", new { id = elem.BlogID.ToString().Replace(" ", "") }, null)
        </p>
        <br><br><br>
    }
}
catch
{
    <h2></h2>
    <p>
        Ни одной статьи не было добавлено
    </p>
}