@model BlogMVC.BlogDAL.Entities.Blog

@{
    ViewBag.Title = "FindByText";
}

<h2>FindByText</h2>

@using (Html.BeginForm())
{
    @ViewBag.Error
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Напишите текст</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Document)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Document)
            @Html.ValidationMessageFor(model => model.Document)
        </div>
        <p>
            <input type="submit" value="Найти" />
        </p>
    </fieldset>
}