@model BlogMVC.BlogDAL.Entities.Blog

@{
    ViewBag.Title = "FindByTag";
}

<h2>FindByTag</h2>

@using (Html.BeginForm())
{
    @ViewBag.Error
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Напишите тег</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tag)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tag)
            @Html.ValidationMessageFor(model => model.Tag)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

